<html>
    <body>
        <h1>Chatroom</h1>
        <div id="messages">
        </div>
        <div id="footer">
            <form method="post" action="/message">{% csrf_token %}
                <input type="text" name="message" id="message-input"/>
            </form>
        </div>
        {% load staticfiles %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static "js/pusher.min.js" %}"></script>
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <script src="{% static "js/chatroom.js" %}"></script>
    </body>
<html>
